<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.startup">
		<startup
			class="com.microsoft.copilot.eclipse.ui.StartUp">
		</startup>
	</extension>

	<!-- Extension Points Definition -->
	<extension-point
		id="mcpRegistration"
		name="MCP Registration"
		schema="schema/mcpRegistration.exsd" />

	<!-- Menus registration -->
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="toolbar:org.eclipse.ui.trim.status">
			<toolbar
				id="com.microsoft.copilot.eclipse.ui.statusBar">
				<command
					commandId="com.microsoft.copilot.eclipse.commands.showStatusBarMenu"
					icon="icons/github_copilot_signed_in.png"
					style="push">
				</command>
			</toolbar>
		</menuContribution>
		<menuContribution
			locationURI="menu:org.eclipse.ui.main.menu?endof=additions">
			<menu
				id="com.microsoft.copilot.eclipse.ui.menuBar"
				label="Copilot"
				mnemonic="C">
				<dynamic
					id="com.microsoft.copilot.eclipse.ui.dynamicMenu"
					class="com.microsoft.copilot.eclipse.ui.handlers.ShowMenuBarMenuHandler">
				</dynamic>
			</menu>
		</menuContribution>
		<menuContribution locationURI="toolbar:org.eclipse.egit.ui.StagingView">
			<command
				commandId="com.microsoft.copilot.eclipse.commands.generateCommitMessage"
				icon="icons/github_copilot.png"
				id="com.microsoft.copilot.egit.generateCommitMessage"
				label="%command.generateCommitMessage.name"
				style="push">
				<visibleWhen checkEnabled="true" />
			</command>
		</menuContribution>
		<menuContribution locationURI="toolbar:org.eclipse.egit.ui.commitMsgToolBar?after=additions">
			<command
				commandId="com.microsoft.copilot.eclipse.commands.generateCommitMessage.toolBar"
				icon="icons/github_copilot.png"
				id="com.microsoft.copilot.egit.generateCommitMessage"
				label="%command.generateCommitMessage.name"
				style="push">
			</command>
		</menuContribution>
		<menuContribution
			locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
			<dynamic
				id="com.microsoft.copilot.eclipse.ui.dynamicContextMenu.projectExplorer"
				class="com.microsoft.copilot.eclipse.ui.handlers.ShowContextMenuHandler" />
		</menuContribution>

		<menuContribution
			locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
			<dynamic
				id="com.microsoft.copilot.eclipse.ui.dynamicContextMenu.packageExplorer"
				class="com.microsoft.copilot.eclipse.ui.handlers.ShowContextMenuHandler" />
		</menuContribution>
		
		<!-- Configure Tools menu for .agent.md files in text editor context -->
		<menuContribution
			locationURI="popup:#TextEditorContext?after=additions">
			<command
				commandId="com.microsoft.copilot.eclipse.commands.configureTools"
				label="Configure Tools..."
				icon="icons/github_copilot.png">
				<visibleWhen>
					<with variable="activeEditorInput">
						<adapt type="org.eclipse.core.resources.IFile">
							<test property="org.eclipse.core.resources.name" value="*.agent.md"/>
						</adapt>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			id="com.microsoft.copilot.eclipse.ui.preferences.CopilotPreferencesPage"
			name="%page.preferencesPage.name"
			class="com.microsoft.copilot.eclipse.ui.preferences.CopilotPreferencesPage">
		</page>
		<page
			id="com.microsoft.copilot.eclipse.ui.preferences.GeneralPreferencesPage"
			name="%page.preferencesPage.general.name"
			category="com.microsoft.copilot.eclipse.ui.preferences.CopilotPreferencesPage"
			class="com.microsoft.copilot.eclipse.ui.preferences.GeneralPreferencesPage">
		</page>
		<page
			id="com.microsoft.copilot.eclipse.ui.preferences.ChatPreferencesPage"
			name="%page.preferencesPage.chat.name"
			category="com.microsoft.copilot.eclipse.ui.preferences.CopilotPreferencesPage"
			class="com.microsoft.copilot.eclipse.ui.preferences.ChatPreferencesPage">
		</page>
		<page
			id="com.microsoft.copilot.eclipse.ui.preferences.CompletionsPreferencesPage"
			name="%page.preferencesPage.completions.name"
			category="com.microsoft.copilot.eclipse.ui.preferences.CopilotPreferencesPage"
			class="com.microsoft.copilot.eclipse.ui.preferences.CompletionsPreferencesPage">
		</page>
		<page
			id="com.microsoft.copilot.eclipse.ui.preferences.McpPreferencePage"
			name="%page.preferencesPage.mcp.name"
			category="com.microsoft.copilot.eclipse.ui.preferences.CopilotPreferencesPage"
			class="com.microsoft.copilot.eclipse.ui.preferences.McpPreferencePage">
		</page>
		<page
			id="com.microsoft.copilot.eclipse.ui.preferences.CustomInstructionPreferencePage"
			name="%page.preferencesPage.customInstructions.name"
			category="com.microsoft.copilot.eclipse.ui.preferences.CopilotPreferencesPage"
			class="com.microsoft.copilot.eclipse.ui.preferences.CustomInstructionPreferencePage">
		</page>
		<page
			id="com.microsoft.copilot.eclipse.ui.preferences.ByokPreferencePage"
			name="%page.preferencesPage.byok.name"
			category="com.microsoft.copilot.eclipse.ui.preferences.CopilotPreferencesPage"
			class="com.microsoft.copilot.eclipse.ui.preferences.ByokPreferencePage">
		</page>
		<page
			id="com.microsoft.copilot.eclipse.ui.preferences.CustomModesPreferencePage"
			name="%page.preferencesPage.customAgents.name"
			category="com.microsoft.copilot.eclipse.ui.preferences.CopilotPreferencesPage"
			class="com.microsoft.copilot.eclipse.ui.preferences.CustomModesPreferencePage">
		</page>
	</extension>
	
	<!-- Content type for agent.md files
	     Matches *.md files but the describer validates only *.agent.md -->
	<extension
		point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			id="com.microsoft.copilot.eclipse.ui.agentFile"
			name="Agent File"
			base-type="org.eclipse.core.runtime.text"
			file-extensions="md"
			priority="high">
			<describer class="com.microsoft.copilot.eclipse.ui.editors.AgentFileContentDescriber">
			</describer>
		</content-type>
	</extension>
	
	<!-- Agent file editor registration -->
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="com.microsoft.copilot.eclipse.ui.editors.AgentFileEditor"
			contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
			id="com.microsoft.copilot.eclipse.ui.editors.AgentFileEditor"
			name="Agent File Editor"
			icon="icons/github_copilot.png">
			<contentTypeBinding
				contentTypeId="com.microsoft.copilot.eclipse.ui.agentFile" />
		</editor>
	</extension>
	
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer
			class="com.microsoft.copilot.eclipse.ui.preferences.CopilotPreferenceInitializer">
		</initializer>
	</extension>
	<extension
		point="org.eclipse.ui.views">
		<category
			name="%page.showViewPage.name"
			id="com.microsoft.copilot.eclipse.chat">
		</category>
		<view
			id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
			name="%page.showViewPageShowChatView.name"
			icon="icons/github_copilot.png"
			class="com.microsoft.copilot.eclipse.ui.chat.ChatView"
			category="com.microsoft.copilot.eclipse.chat"
			inject="true">
		</view>
	</extension>
	<!-- Commands registration -->
	<extension
		point="org.eclipse.ui.commands">
		<category
			id="com.microsoft.copilot.eclipse.ui.githubCopilot"
			name="%command.copilotForEclipsePlugin.name">
		</category>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.showStatusBarMenu"
			name="%command.showStatusBarMenu.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.signIn"
			name="%command.signInToGitHub.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.openChatView"
			name="%command.showChatView.name">
			<commandParameter
				id="com.microsoft.copilot.eclipse.commands.openChatView.inputValue"
				name="%command.openChatView.inputValue"
				values="">
			</commandParameter>
			<commandParameter
				id="com.microsoft.copilot.eclipse.commands.openChatView.autoSend"
				name="%command.openChatView.autoSend"
				values="">
			</commandParameter>
		</command>
		<command
			id="com.microsoft.copilot.eclipse.commands.signOut"
			name="%command.signOutFromGitHub.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.configureCopilotSettings"
			name="%command.configureCopilotSettings.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.triggerInlineSuggestion"
			name="%command.triggerInlineSuggestions.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.acceptFullSuggestion"
			name="%command.acceptFullSuggestion.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.acceptNextWord"
			name="%command.acceptNextWord.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.discardSuggestion"
			name="%command.discardSuggestion.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.openPreferences"
			name="%command.openPreferencesPage.name">
			<commandParameter
				id="com.microsoft.copilot.eclipse.commands.openPreferences.activePageId"
				name="%command.openPreferencesPage.parameter.name"
				values="">
			</commandParameter>
			<commandParameter
				id="com.microsoft.copilot.eclipse.commands.openPreferences.pageIds"
				name="%command.openPreferencesPage.parameter.name"
				values="">
			</commandParameter>
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.openEditKeyboardShortcuts"
			name="%command.openEditKeyboardShortcuts.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.autoShowCompletions"
			name="%command.autoShowCompletions.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.showWhatIsNew"
			name="%command.showWhatIsNew.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.upgradeCopilotPlan"
			name="%command.upgradeCopilotPlan.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.generateCommitMessage"
			name="%command.generateCommitMessage.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.generateCommitMessage.toolBar"
			name="%command.generateCommitMessage.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.enabledDoNothing"
			name="%command.enabledDoNothing.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.disabledDoNothing"
			name="%command.disabledDoNothing.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.openQuickStart"
			name="%command.openQuickStart.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.addToReferences"
			name="%command.addToReference.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.openUrl"
			name="%command.openUrl.name">
			<commandParameter
				id="com.microsoft.copilot.eclipse.commands.openUrl.url"
				name="URL"
				values="">
			</commandParameter>
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.configureTools"
			name="Configure Tools..."
			description="Configure tools for the current agent file">
		</command>
	</extension>

	<!-- Command handlers registration -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.ShowStatusBarMenuHandler"
			commandId="com.microsoft.copilot.eclipse.commands.showStatusBarMenu">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.SignInHandler"
			commandId="com.microsoft.copilot.eclipse.commands.signIn">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.SignOutHandler"
			commandId="com.microsoft.copilot.eclipse.commands.signOut">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.ConfigureCopilotSettingsHandler"
			commandId="com.microsoft.copilot.eclipse.commands.configureCopilotSettings">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.TriggerInlineSuggestionHandler"
			commandId="com.microsoft.copilot.eclipse.commands.triggerInlineSuggestion">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.AcceptFullSuggestionHandler"
			commandId="com.microsoft.copilot.eclipse.commands.acceptFullSuggestion">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.AcceptNextWordHandler"
			commandId="com.microsoft.copilot.eclipse.commands.acceptNextWord">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.DiscardSuggestionHandler"
			commandId="com.microsoft.copilot.eclipse.commands.discardSuggestion">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.OpenPreferencesHandler"
			commandId="com.microsoft.copilot.eclipse.commands.openPreferences">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.OpenEditKeyboardShortcutsHandler"
			commandId="com.microsoft.copilot.eclipse.commands.openEditKeyboardShortcuts">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.OpenChatViewHandler"
			commandId="com.microsoft.copilot.eclipse.commands.openChatView">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.AutoShowCompletionsHandler"
			commandId="com.microsoft.copilot.eclipse.commands.autoShowCompletions">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.ShowWhatIsNewHandler"
			commandId="com.microsoft.copilot.eclipse.commands.showWhatIsNew">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.CopilotUpgradePlanHandler"
			commandId="com.microsoft.copilot.eclipse.commands.upgradeCopilotPlan">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.GenerateCommitMessageHandler"
			commandId="com.microsoft.copilot.eclipse.commands.generateCommitMessage">
			<enabledWhen>
				<test property="com.microsoft.copilot.eclipse.ui.testers.platformVersion" args="le:4.36" />
			</enabledWhen>
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.GenerateCommitMessageHandler"
			commandId="com.microsoft.copilot.eclipse.commands.generateCommitMessage.toolBar">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.EnabledDoNothingHandler"
			commandId="com.microsoft.copilot.eclipse.commands.enabledDoNothing">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.DisabledDoNothingHandler"
			commandId="com.microsoft.copilot.eclipse.commands.disabledDoNothing">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.OpenQuickStartHandler"
			commandId="com.microsoft.copilot.eclipse.commands.openQuickStart">
		</handler>
		<handler
			commandId="com.microsoft.copilot.eclipse.commands.addToReferences"
			class="com.microsoft.copilot.eclipse.ui.handlers.AddToReferencesHandler">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.OpenUrlHandler"
			commandId="com.microsoft.copilot.eclipse.commands.openUrl">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.ConfigureToolsCommandHandler"
			commandId="com.microsoft.copilot.eclipse.commands.configureTools">
		</handler>
	</extension>

	<extension
		point="org.eclipse.ui.contexts">
		<context
			id="com.microsoft.copilot.eclipse.completionAvailableContext"
			name="Completion Available"
			description="Context when completion is available"
			parentId="org.eclipse.ui.textEditorScope">
		</context>
	</extension>

	<!-- Keyboard shortcut registration -->
	<extension
		point="org.eclipse.ui.bindings">
		<key
			commandId="com.microsoft.copilot.eclipse.commands.triggerInlineSuggestion"
			contextId="org.eclipse.ui.textEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M3+/">
		</key>
		<key
			commandId="com.microsoft.copilot.eclipse.commands.acceptFullSuggestion"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"
			sequence="TAB">
		</key>
		<key
			commandId="com.microsoft.copilot.eclipse.commands.acceptNextWord"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="com.microsoft.copilot.eclipse.completionAvailableContext"
			sequence="M1+ARROW_RIGHT">
		</key>
		<key
			commandId="com.microsoft.copilot.eclipse.commands.discardSuggestion"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"
			sequence="ESC">
		</key>
		<key
			commandId="com.microsoft.copilot.eclipse.commands.openChatView"
			contextId="org.eclipse.ui.contexts.window"
			platform="cocoa"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="CTRL+COMMAND+I">
		</key>
		<key
			commandId="com.microsoft.copilot.eclipse.commands.openChatView"
			contextId="org.eclipse.ui.contexts.window"
			platform="win32"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="CTRL+ALT+I">
		</key>
		<key
			commandId="com.microsoft.copilot.eclipse.commands.openChatView"
			contextId="org.eclipse.ui.contexts.window"
			platform="gtk"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="CTRL+ALT+I">
		</key>
	</extension>
	<!-- Code mining registration, for block ghost text rendering -->
	<extension
		point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
		<codeMiningProvider
			class="com.microsoft.copilot.eclipse.ui.completion.codemining.GhostTextProvider"
			id="com.microsoft.copilot.eclipse.ui.ghostTextProvider">
		</codeMiningProvider>
		<!-- Tool configuration code mining for .agent.md files -->
		<codeMiningProvider
			class="com.microsoft.copilot.eclipse.ui.completion.codemining.ToolConfigurationCodeMiningProvider"
			id="com.microsoft.copilot.eclipse.ui.toolConfigurationCodeMiningProvider">
		</codeMiningProvider>
	</extension>

	<!-- Register the Copilot perspective -->
	<extension
		point="org.eclipse.ui.perspectives">
		<perspective
			class="com.microsoft.copilot.eclipse.ui.perspectives.CopilotPerspectiveFactory"
			icon="icons/github_copilot.png"
			id="com.microsoft.copilot.eclipse.ui.perspectives.CopilotPerspective"
			name="Copilot">
		</perspective>
	</extension>

	<!-- PerspectiveExtension: Manage Chat View Position -->
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<!-- We add the JobsView for each perspective here due to the JobsView needs ChatView and
		ChatView's relative position to be defined first. Adding JobsView standalone to the plugin.xml of
		com.microsoft.copilot.eclipse.ui.jobs will not work due to missing dependency on ChatView 's
		relative position. -->
		<perspectiveExtension
			targetID="*">
			<editorOnboardingCommand
				id="com.microsoft.copilot.eclipse.commands.openChatView">
			</editorOnboardingCommand>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="com.microsoft.copilot.eclipse.ui.perspectives.CopilotPerspective"
			editorOnboardingImage="icons/copilot_perspective.png"
			editorOnboardingText="Open a file or drop files here to open them">
			<editorOnboardingCommand
				id="org.eclipse.ui.window.showKeyAssist">
			</editorOnboardingCommand>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.ui.resourcePerspective">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				ratio="0.66"
				relationship="right"
				relative="org.eclipse.ui.editorss">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.team.ui.TeamSynchronizingPerspective">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				ratio="0.66"
				relationship="right"
				relative="org.eclipse.ui.editorss">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				ratio="0.66"
				relationship="right"
				relative="org.eclipse.ui.editorss">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.jdt.ui.JavaPerspective">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				relationship="stack"
				relative="org.eclipse.ui.views.ContentOutline">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.ui.views.ContentOutline"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.mylyn.tasks.ui.views.tasks"
				minimized="false"
				relationship="stack"
				relative="org.eclipse.ui.views.ContentOutline">
			</view>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				ratio="0.75"
				relationship="right"
				relative="org.eclipse.ui.editorss">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.debug.ui.DebugPerspective">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				relationship="stack"
				relative="org.eclipse.debug.ui.VariableView">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.debug.ui.VariableView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.debug.ui.BreakpointView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.debug.ui.ExpressionView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.egit.ui.GitRepositoryExploring">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				ratio="0.66"
				relationship="right"
				relative="org.eclipse.ui.editorss">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.mylyn.tasks.ui.perspectives.planning">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				relationship="stack"
				relative="org.eclipse.mylyn.tasks.ui.views.tasks">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.mylyn.tasks.ui.views.tasks"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.pde.ui.PDEPerspective">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				relationship="stack"
				relative="org.eclipse.ui.views.ContentOutline">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.ui.views.ContentOutline"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.mylyn.tasks.ui.views.tasks"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
		<!-- Java EE -->
		<perspectiveExtension
			targetID="org.eclipse.jst.j2ee.J2EEPerspective">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				relationship="stack"
				relative="org.eclipse.ui.views.ContentOutline">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.ui.views.ContentOutline"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
		<!-- Web -->
		<perspectiveExtension
			targetID="org.eclipse.wst.web.ui.webDevPerspective">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				relationship="stack"
				relative="org.eclipse.ui.views.ContentOutline">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.ui.views.ContentOutline"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
		<!-- Database Development -->
		<perspectiveExtension
			targetID="org.eclipse.datatools.sqltools.sqleditor.perspectives.EditorPerspective">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				ratio="0.66"
				relationship="right"
				relative="org.eclipse.ui.editorss">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
		<!-- JPA -->
		<perspectiveExtension
			targetID="org.eclipse.jpt.ui.jpaPerspective">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				relationship="stack"
				relative="org.eclipse.ui.views.ContentOutline">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.jpt.ui.jpaStructureView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.ui.views.ContentOutline"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
		<!-- XML -->
		<perspectiveExtension
			targetID="org.eclipse.wst.xml.ui.perspective">
			<view
				id="com.microsoft.copilot.eclipse.ui.chat.ChatView"
				minimized="false"
				relationship="stack"
				relative="org.eclipse.ui.views.ContentOutline">
			</view>
			<view
				id="com.microsoft.copilot.eclipse.ui.jobs.JobsView"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
			<view
				id="org.eclipse.ui.views.ContentOutline"
				minimized="false"
				relationship="stack"
				relative="com.microsoft.copilot.eclipse.ui.chat.ChatView">
			</view>
		</perspectiveExtension>
	</extension>
	<extension point="org.eclipse.ui.intro.quicklinks">
		<command
			description="%intro.quickStart.description"
			importance="high"
			icon="icons/github_copilot_intro.png"
			id="com.microsoft.copilot.eclipse.commands.openQuickStart"
			label="%intro.quickStart.label">
		</command>
	</extension>
	<extension point="org.eclipse.ui.intro.configExtension">
		<configExtension
			configId="org.eclipse.ui.intro.universalConfig"
			content="/intro/whatsnew/whatsNewExtensionContent.xml">
		</configExtension>
	</extension>
	<extension point="org.eclipse.ui.intro.quicklinks">
		<command
			description="%intro.quickStart.description"
			importance="high"
			icon="icons/github_copilot_intro.png"
			id="com.microsoft.copilot.eclipse.commands.openQuickStart"
			label="%intro.quickStart.label">
		</command>
	</extension>
	<extension point="org.eclipse.e4.ui.css.swt.theme">
		<stylesheet uri="css/dark.css">
			<themeid refid="org.eclipse.e4.ui.css.theme.e4_dark" />
			<themeid refid="org.eclipse.e4.ui.css.theme.high-contrast" />
		</stylesheet>
		<stylesheet uri="css/light.css">
			<themeid refid="org.eclipse.e4.ui.css.theme.e4_default" />
			<themeid refid="org.eclipse.e4.ui.css.theme.e4_preview" />
			<themeid refid="org.eclipse.e4.ui.css.theme.e4_classic" />
		</stylesheet>
		<stylesheet uri="css/windows-light.css" os="win32">
			<themeid refid="org.eclipse.e4.ui.css.theme.e4_default" />
			<themeid refid="org.eclipse.e4.ui.css.theme.e4_preview" />
			<themeid refid="org.eclipse.e4.ui.css.theme.e4_classic" />
		</stylesheet>
		<stylesheet uri="css/windows-dark.css" os="win32">
			<themeid refid="org.eclipse.e4.ui.css.theme.e4_dark" />
			<themeid refid="org.eclipse.e4.ui.css.theme.high-contrast" />
		</stylesheet>
		<stylesheet uri="css/macosx-light.css" os="macosx">
			<themeid refid="org.eclipse.e4.ui.css.theme.e4_default" />
			<themeid refid="org.eclipse.e4.ui.css.theme.e4_preview" />
			<themeid refid="org.eclipse.e4.ui.css.theme.e4_classic" />
		</stylesheet>
		<stylesheet uri="css/macosx-dark.css" os="macosx">
			<themeid refid="org.eclipse.e4.ui.css.theme.e4_dark" />
			<themeid refid="org.eclipse.e4.ui.css.theme.high-contrast" />
		</stylesheet>
	</extension>
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			id="com.microsoft.copilot.eclipse.ui.testers.PlatformCompare"
			namespace="com.microsoft.copilot.eclipse.ui.testers"
			properties="platformVersion"
			type="java.lang.Object"
			class="com.microsoft.copilot.eclipse.ui.testers.PlatformVersionTester">
		</propertyTester>
	</extension>
	<extension point="org.eclipse.help.contexts">
		<contexts file="contexts.xml" />
	</extension>
	
	<extension point="org.eclipse.ui.genericeditor.quickAssistProcessors">
		<quickAssistProcessor
			id="com.microsoft.copilot.eclipse.ui.quickfix.toolConfiguration"
			name="Tool Configuration Quick Fix"
			class="com.microsoft.copilot.eclipse.ui.quickfix.ToolConfigurationQuickFixProcessor"/>
	</extension>
	
	<extension point="org.eclipse.ui.workbench.texteditor.rulerColumns">
		<column
			class="com.microsoft.copilot.eclipse.ui.nes.RulerColumn"
			enabled="true"
			global="true"
			id="com.microsoft.copilot.eclipse.ui.suggest.NextEditSuggestionRulerColumn"
			includeInMenu="false">
			<targetClass
				class="org.eclipse.ui.texteditor.AbstractDecoratedTextEditor">
			</targetClass>
			<placement
				gravity="1.0">
			</placement>
		</column>
	</extension>

	<!-- Annotation types for Next Edit Suggestions -->
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type
			name="com.microsoft.copilot.eclipse.ui.nes.change"
			markerType="org.eclipse.core.resources.textmarker">
		</type>
		<type
			name="com.microsoft.copilot.eclipse.ui.nes.delete"
			markerType="org.eclipse.core.resources.textmarker">
		</type>
	</extension>

	<!-- Annotation presentation for highlighting -->
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="com.microsoft.copilot.eclipse.ui.nes.change"
			colorPreferenceKey="com.microsoft.copilot.eclipse.ui.nes.change.color"
			colorPreferenceValue="255, 161, 161"
			highlightPreferenceKey="com.microsoft.copilot.eclipse.ui.nes.change.highlight"
			highlightPreferenceValue="true"
			isGoToNextNavigationTarget="false"
			isGoToPreviousNavigationTarget="false"
			label="Text to be Changed"
			overviewRulerPreferenceKey="com.microsoft.copilot.eclipse.ui.nes.change.overviewRuler"
			overviewRulerPreferenceValue="true"
			presentationLayer="5"
			textPreferenceKey="com.microsoft.copilot.eclipse.ui.nes.change.text"
			textPreferenceValue="false"
			textStylePreferenceKey="com.microsoft.copilot.eclipse.ui.nes.change.textStyle"
			textStylePreferenceValue="NONE"
			verticalRulerPreferenceKey="com.microsoft.copilot.eclipse.ui.nes.change.verticalRuler"
			verticalRulerPreferenceValue="false">
		</specification>
		<specification
			annotationType="com.microsoft.copilot.eclipse.ui.nes.delete"
			colorPreferenceKey="com.microsoft.copilot.eclipse.ui.nes.delete.color"
			colorPreferenceValue="173, 43, 56"
			highlightPreferenceKey="com.microsoft.copilot.eclipse.ui.nes.delete.highlight"
			highlightPreferenceValue="false"
			isGoToNextNavigationTarget="false"
			isGoToPreviousNavigationTarget="false"
			label="Text to be Deleted"
			overviewRulerPreferenceKey="com.microsoft.copilot.eclipse.ui.nes.delete.overviewRuler"
			overviewRulerPreferenceValue="true"
			presentationLayer="6"
			textPreferenceKey="com.microsoft.copilot.eclipse.ui.nes.delete.text"
			textPreferenceValue="true"
			textStylePreferenceKey="com.microsoft.copilot.eclipse.ui.nes.delete.textStyle"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="com.microsoft.copilot.eclipse.ui.nes.delete.verticalRuler"
			verticalRulerPreferenceValue="false">
		</specification>
	</extension>
</plugin>