<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.startup">
		<startup
			class="com.microsoft.copilot.eclipse.ui.StartUp">
		</startup>
	</extension>

	<!-- Menus registration -->
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="toolbar:org.eclipse.ui.trim.status">
			<toolbar
				id="com.microsoft.copilot.eclipse.ui.statusBar">
				<command
					commandId="com.microsoft.copilot.eclipse.commands.showStatusBarMenu"
					icon="icons/copilot.png"
					style="push">
				</command>
			</toolbar>
		</menuContribution>
	</extension>

	<!-- Commands registration -->
	<extension
		point="org.eclipse.ui.commands">
		<command
			commandId="com.microsoft.copilot.eclipse.ui.loginStatus"
			id="com.microsoft.copilot.eclipse.commands.showStatusBarMenu"
			label="Status: "
			name="GitHub Copilot for Eclipse"
			style="push">
		</command>
		<command
			commandId="com.microsoft.copilot.eclipse.ui.signIn"
			id="com.microsoft.copilot.eclipse.commands.signIn"
			label="Sign In to GitHub Copilot"
			name="Sign in to GitHub Copilot"
			style="push">
		</command>
		<command
			commandId="com.microsoft.copilot.eclipse.ui.signOut"
			id="com.microsoft.copilot.commands.signOut"
			label="Sign out to GitHub Copilot"
			name="Sign out from GitHub Copilot"
			style="push">
		</command>
		<command
			id="com.microsoft.copilot.eclipse.commands.triggerInlineSuggestion"
			name="%command.triggerInlineSuggestions.name">
		</command>
		<command
			id="com.microsoft.copilot.eclipse.commands.acceptFullSuggestion"
			name="%command.acceptFullSuggestion.name">
		</command>
		<command
			id="com.microsoft.copilot.eclipse.commands.discardSuggestion"
			name="%command.discardSuggestion.name">
		</command>
	</extension>

	<!-- Command handlers registration -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.ShowStatusBarMenuHandler"
			commandId="com.microsoft.copilot.eclipse.commands.showStatusBarMenu">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.TriggerInlineSuggestionHandler"
			commandId="com.microsoft.copilot.eclipse.commands.triggerInlineSuggestion">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.AcceptFullSuggestionHandler"
			commandId="com.microsoft.copilot.eclipse.commands.acceptFullSuggestion">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.DiscardSuggestionHandler"
			commandId="com.microsoft.copilot.eclipse.commands.discardSuggestion">
		</handler>
	</extension>
	
	<!-- Keyboard shortcut registration -->
	<extension
		point="org.eclipse.ui.bindings">
		<key
			commandId="com.microsoft.copilot.eclipse.commands.triggerInlineSuggestion"
			contextId="org.eclipse.ui.textEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M3+/">
		</key>
		<key
			commandId="com.microsoft.copilot.eclipse.commands.acceptFullSuggestion"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"
			sequence="TAB">
		</key>
		<key
			commandId="com.microsoft.copilot.eclipse.commands.discardSuggestion"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"
			sequence="ESC">
		</key>
	</extension>
</plugin>
