<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.startup">
		<startup
			class="com.microsoft.copilot.eclipse.ui.StartUp">
		</startup>
	</extension>

	<!-- Menus registration -->
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="toolbar:org.eclipse.ui.trim.status">
			<toolbar
				id="com.microsoft.copilot.eclipse.ui.statusBar">
				<command
					commandId="com.microsoft.copilot.eclipse.commands.showStatusBarMenu"
					icon="icons/github_copilot_signed_in.png"
					style="push">
				</command>
			</toolbar>
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			class="com.microsoft.copilot.eclipse.ui.preferences.CopilotPreferencesPage"
			id="com.microsoft.copilot.eclipse.ui.preferences.page"
			name="%page.preferencesPage.name">
		</page>
	</extension>
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer
			class="com.microsoft.copilot.eclipse.ui.preferences.CopilotPreferenceInitializer">
		</initializer>
	</extension>

	<!-- Commands registration -->
	<extension
		point="org.eclipse.ui.commands">
		<category
			id="com.microsoft.copilot.eclipse.ui.githubCopilot"
			name="%command.copilotForEclipsePlugin.name">
		</category>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.showStatusBarMenu"
			name="%command.showStatusBarMenu.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.signIn"
			name="%command.signInToGitHub.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.signOut"
			name="%command.signOutFromGitHub.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.configureCopilotSettings"
			name="%command.configureCopilotSettings.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.triggerInlineSuggestion"
			name="%command.triggerInlineSuggestions.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.acceptFullSuggestion"
			name="%command.acceptFullSuggestion.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.acceptNextWord"
			name="%command.acceptNextWord.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.discardSuggestion"
			name="%command.discardSuggestion.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.viewFeedbackForum"
			name="%command.openFeedbackForum.name">
		</command>
		<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.openPreferences"
			name="%command.openPreferencesPage.name">
		</command>
	<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.openEditKeyboardShortcuts"
			name="%command.openEditKeyboardShortcuts.name">
	</command>
	<command
			categoryId="com.microsoft.copilot.eclipse.ui.githubCopilot"
			id="com.microsoft.copilot.eclipse.commands.autoShowCompletions"
			name="%command.autoShowCompletions.name">
	</command>
	</extension>

	<!-- Command handlers registration -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.ShowStatusBarMenuHandler"
			commandId="com.microsoft.copilot.eclipse.commands.showStatusBarMenu">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.SignInHandler"
			commandId="com.microsoft.copilot.eclipse.commands.signIn">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.SignOutHandler"
			commandId="com.microsoft.copilot.eclipse.commands.signOut">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.ConfigureCopilotSettingsHandler"
			commandId="com.microsoft.copilot.eclipse.commands.configureCopilotSettings">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.TriggerInlineSuggestionHandler"
			commandId="com.microsoft.copilot.eclipse.commands.triggerInlineSuggestion">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.AcceptFullSuggestionHandler"
			commandId="com.microsoft.copilot.eclipse.commands.acceptFullSuggestion">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.AcceptNextWordHandler"
			commandId="com.microsoft.copilot.eclipse.commands.acceptNextWord">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.DiscardSuggestionHandler"
			commandId="com.microsoft.copilot.eclipse.commands.discardSuggestion">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.ViewFeedbackForumHandler"
			commandId="com.microsoft.copilot.eclipse.commands.viewFeedbackForum">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.OpenPreferencesHandler"
			commandId="com.microsoft.copilot.eclipse.commands.openPreferences">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.OpenEditKeyboardShortcutsHandler"
			commandId="com.microsoft.copilot.eclipse.commands.openEditKeyboardShortcuts">
		</handler>
		<handler
			class="com.microsoft.copilot.eclipse.ui.handlers.AutoShowCompletionsHandler"
			commandId="com.microsoft.copilot.eclipse.commands.autoShowCompletions">
		</handler>
	</extension>
	
	<extension
		point="org.eclipse.ui.contexts">
		<context
			id="com.microsoft.copilot.eclipse.completionAvailableContext"
			name="Completion Available"
			description="Context when completion is available"
			parentId="org.eclipse.ui.textEditorScope">
	  </context>
	</extension>

	<!-- Keyboard shortcut registration -->
	<extension
		point="org.eclipse.ui.bindings">
		<key
			commandId="com.microsoft.copilot.eclipse.commands.triggerInlineSuggestion"
			contextId="org.eclipse.ui.textEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M3+/">
		</key>
		<key
			commandId="com.microsoft.copilot.eclipse.commands.acceptFullSuggestion"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"
			sequence="TAB">
		</key>
		<key
			commandId="com.microsoft.copilot.eclipse.commands.acceptNextWord"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="com.microsoft.copilot.eclipse.completionAvailableContext"
			sequence="M1+ARROW_RIGHT">
		</key>
		<key
			commandId="com.microsoft.copilot.eclipse.commands.discardSuggestion"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"
			sequence="ESC">
		</key>
	</extension>
	<!-- Code mining registration, for block ghost text rendering -->
	<extension
		point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
		<codeMiningProvider
			class="com.microsoft.copilot.eclipse.ui.completion.codemining.GhostTextProvider"
			id="com.microsoft.copilot.eclipse.ui.ghostTextProvider">
		</codeMiningProvider>
	</extension>
</plugin>
