<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="foreignTextMarker"
         name="Foreign Text Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.microsoft.copilot.eclipse.ui.completion.EditorLifecycleListenerIntegrationTests$EditorForRefactorRenameTests"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="txt"
            id="editorForRefactorRenameTests"
            name="Editor for Refactor Rename Tests"/>
   </extension>

</plugin>
