#quick-start-container {
	color: #EDEEEE;
	background-color: #2F3030;
}

#quick-start-feature-card {
	color: #EDEEEE;
	background-color: #2F3030;
}

#quick-start-feature-card-selected {
	color: #EDEEEE;
	background-color: #48484C;
}

#quick-start-continue-button {
	color: #FFFFFF;
	background-color: #0078D4;
}